@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	font-family: "Spartan";
}

.our-users-wrapper--top {
	@include sc-breakpoint(1024) {
		text-align: left;
	}
	text-align: center;
}

.main {
	&-title {
		@include sc-breakpoint(768) {
			font-size: 48px;
		}
		font-size: 32px;
		font-weight: 700;
		color: colors.$dark-purple;
	}
	&-text {
		font-size: 15px;
		line-height: 25px;
		font-weight: 500;
		color: colors.$light-purple;
	}
}

.review-wrapper--text {
	font-size: 13px;
	font-weight: 700;
	line-height: 15px;
	text-align: left;
	color: colors.$dark-purple;
}

.card-box {
	&--name {
		font-size: 13px;
		line-height: 1.5;
		color: colors.$white;
	}

	&--status {
		font-size: 13px;
		font-weight: 400;
		color: colors.$verified-pink;
	}

	&--text {
		color: colors.$white;
		line-height: 22px;
	}
}
