@use "../variables/colors" as colors;

.our-users-wrapper {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.our-users {
	&-wrapper--top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 50px;
	}

	&--text-content {
		width: 40%;
		h1 {
			margin: 0;
		}
	}
}

.reviews {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&-wrapper {
		display: flex;
		align-items: center;
		max-width: 445px;
		margin-top: 10px;
		padding: 16px 77px 16px 40px;
		background-color: colors.$background-light-pink;
		border-radius: 8px;

		&--text {
			margin-left: 40px;
		}

		&--one {
			margin-right: 160px;
		}
		&--two {
			margin-right: 80px;
		}
	}
}

.bg-img {
	position: absolute;

	&--bottom {
		bottom: 0;
		right: 0;
	}
}
