@use "../variables/colors" as colors;
@import "../variables/breakpoints";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.our-users {
	&-wrapper {
		box-sizing: border-box;

		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		z-index: 1;
		@include sc-breakpoint(1024) {
			width: 90vw;
		}
		@include sc-breakpoint(1820) {
			width: 70vw;
		}
	}
	&-wrapper--top {
		@include sc-breakpoint(1024) {
			display: flex;
			gap: 20px;
			align-items: baseline;
			justify-content: space-between;
			margin-top: 150px;
		}
		margin-top: 550px;
		margin-bottom: 50px;
	}

	&--text-content {
		@include sc-breakpoint(1024) {
			width: 40%;
		}

		.main {
			&-title {
				margin: 0;
				padding: 0 20px;
			}
			&-text {
				margin: 20px 0;
				padding: 0 20px;
			}
		}
		width: 90vw;
	}
}

.reviews {
	@include sc-breakpoint(1024) {
		align-items: flex-end;
	}

	display: flex;
	flex-direction: column;
	align-items: center;

	&-wrapper {
		@include sc-breakpoint(768) {
			max-height: 78px;
		}
		@include sc-breakpoint(1024) {
			flex-direction: row;
			max-width: 500px;
			padding: 16px 77px 16px 40px;
		}
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px 0;
		margin-top: 14px;
		background-color: colors.$background-light-pink;
		border-radius: 8px;

		&--text {
			margin-top: 10px;
			@include sc-breakpoint(1024) {
				margin-left: 40px;
				margin-top: 0;
			}

			a {
				text-decoration: none;
				color: colors.$black;

				&:hover,
				&:active {
					color: colors.$verified-pink;
					text-decoration: underline;
				}
			}
		}

		&--one {
			@include sc-breakpoint(1024) {
				margin-right: 80px;
			}
			@include sc-breakpoint(1400) {
				margin-right: 160px;
			}
			@include sc-breakpoint(1820) {
				margin-right: 80px;
			}
			margin-right: 0;
		}

		&--two {
			@include sc-breakpoint(1024) {
				margin-right: 40px;
			}
			@include sc-breakpoint(1400) {
				margin-right: 80px;
			}
			@include sc-breakpoint(1820) {
				margin-right: 40px;
			}
			margin-right: 0;
		}
	}
}

.testimonials {
	@include sc-breakpoint(1024) {
		flex-direction: row;
		justify-content: space-between;
	}
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 50px;

	.card-box {
		@include sc-breakpoint(1820) {
			max-height: 214px;
		}
		max-height: 300px;
		padding: 35px 40px;
		margin-bottom: 20px;
		background-color: colors.$dark-purple;
		border-radius: 8px;
		box-sizing: border-box;

		&--top {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		&--img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
		}

		&--status {
			display: block;
		}

		&--text {
			margin: 0;
			padding-top: 20px;
		}

		&--two {
			@include sc-breakpoint(1024) {
				margin-top: 40px;
			}
		}
		&--three {
			@include sc-breakpoint(1024) {
				margin-top: 80px;
			}
		}
	}
}

.bg-img {
	position: absolute;

	&--top {
		top: 0;
		left: 0;
		img {
			@include sc-breakpoint(1024) {
				width: 46vw;
				height: 58vh;
			}
			width: 100%;
		}
	}

	&--bottom {
		bottom: 0;
		right: 0;
		img {
			@include sc-breakpoint(1024) {
				width: 83vw;
				height: 78vw;
			}
			@include sc-breakpoint(1820) {
				height: 49vw;
			}
			width: 100%;
		}
	}
}
