@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.our-users {
	&-wrapper {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		z-index: 1;
		@include sc-breakpoint(1024) {
			width: 90vw;
		}
		@include sc-breakpoint(1820) {
			width: auto;
		}
	}
	&-wrapper--top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 50px;
	}

	&--text-content {
		width: 40%;
		h1 {
			margin: 0;
		}
	}
}

.reviews {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&-wrapper {
		display: flex;
		align-items: center;
		max-width: 445px;
		margin-top: 10px;
		padding: 16px 77px 16px 40px;
		background-color: colors.$background-light-pink;
		border-radius: 8px;

		&--text {
			margin-left: 40px;
		}

		&--one {
			margin-right: 160px;
		}
		&--two {
			margin-right: 80px;
		}
	}
}

.testimonials {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-content: space-between;
	grid-gap: 62px;

	.card-box {
		max-width: 350px;
		max-height: 200px;
		background-color: colors.$dark-purple;
		border-radius: 8px;
		padding: 30px;

		&--top {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		&--img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
		}

		&--status {
			display: block;
		}

		&--text {
			margin: 0;
			padding-top: 20px;
		}

		&--two {
			margin-top: 40px;
		}
		&--three {
			margin-top: 80px;
		}
	}
}

.bg-img {
	position: absolute;

	&--top {
		top: 0;
		left: 0;
		img {
			width: 46vw;
			height: 58vh;
		}
	}

	&--bottom {
		bottom: 0;
		right: 0;

		img {
			width: 83vw;
			height: 78vw;

			@include sc-breakpoint(1820) {
				height: 49vw;
			}
		}
	}
}
